*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center ;
    align-items: center;
    width: 99%;
    height: 95vh;
}

/* Definir o estilo do vídeo de fundo */
#bgVideo {
    position: fixed;
    display: flex;
    margin-top: 0%;
    margin-bottom: -3%;
    min-width: 100%; /* O vídeo ocupa 100% da largura */
    min-height: 100%; /* O vídeo ocupa 100% da altura */
    z-index: -1; /* Coloca o vídeo atrás do conteúdo */
    object-fit: cover; /* Cobre a tela completamente */
}

/* Estilo para o conteúdo sobre o vídeo */
#div_principal{
    background-color: hsla(188, 100%, 50%, 0.24);
    padding: 4%;
    border-radius: 3%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    border: 1px solid rgb(146, 10, 10);
}
.ipt{
    background-color: rgba(255, 255, 255, 0.24);
    width: 400px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    border: 2px solid;
    cursor: pointer;
    font-size: large;
}

.select{
    font-size: large;
    width: 400px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid;
    cursor: pointer;
}

button{
    border-radius: 5px;
    height: 40px;
    width: 400px;
    border: 2px solid black;
    background-color: rgb(0, 189, 218);
    font-size: large;
    font-weight: 700;
    transition: 0.5s;
    cursor: pointer;
}
button:hover{
    transition: 0.5s;
    background-color: rgb(0, 202, 233);
}

.hidden{
    display: none;
}
#demo{
    background-color: rgb(255, 255, 255);
    border-radius: 5px; 
    margin-top: 15px;
    color: rgb(5, 5, 5); 
    width: 400px; 
    height: 50px; 
    font-size: large;
    font-weight: 700;
    justify-content: center;    
    align-items: center;
}